<div class="auth-wrapper">
    <div class="auth-card">
        <h2 class="title">Create Your Account</h2>
        <p class="subtitle">Join us and start your journey today</p>

        <form [formGroup]="form" (ngSubmit)="submit()" class="form">

            <!-- Full Name -->
            <div class="form-field">
                <input formControlName="fullName" type="text" required/>
                <label>Full Name</label>
                <div class="error" style="color:red" *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid">
                    Full Name is required.
                </div>
            </div>


            <!-- Phone -->
            <div class="form-field">
                <input formControlName="phone"
                       type="text"
                       required
                       maxlength="15"
                       (input)="onPhoneInput($event)" />
                <label>Phone Number</label>
                <div class="error" style="color:red" *ngIf="phone?.touched && phone?.invalid">
                    Please enter a valid phone number.
                </div>
            </div>

            <!-- Email -->
            <div class="form-field">
                <input formControlName="email" type="email" required/>
                <label>Email Address</label>
                <div class="error" style="color:red" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                    Email is required.
                </div>
            </div>

            <!-- Password -->
            <div class="form-field">
                <input formControlName="password" type="password" required />
                <label>Password</label>
                <div class="error" style="color:red" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                    At least 8 characters with 1 uppercase and 1 special character.
                </div>
            </div>

            <!-- General error -->
            <div *ngIf="error" class="error-box">{{ error }}</div>

            <button class="btn-primary" type="submit" [disabled]="loading || form.invalid">
                {{ loading ? 'Creating account...' : 'Sign Up' }}
            </button>
        </form>

        <p class="bottom-text">
            Already have an account?
            <a routerLink="/login">Sign in</a>
        </p>
    </div>
</div>
