# Build folders
bin/
obj/
**/bin/
**/obj/

# Visual Studio
.vs/
**/.vs/

# Debug + Release
Debug/
Release/
**/Debug/
**/Release/
***/Debug/
***/Release/


# .NET build artifacts
*.dll
*.pdb
*.exe
*.cache
*.db
*.log

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg
*.snupkg

# Copilot / Indexing
**/CopilotIndices/
**/FileContentIndex/
**/SemanticSymbols.db*
**/CodeChunks.db*
