<div class="space-y-6">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">Static Values</h1>
    <a href="/static-values/add?catalogId={{catalogId}}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg">Add Value</a>
  </div>
  <div class="bg-white rounded-lg shadow p-4">
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (keyup)="onSearch()" 
      class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
  </div>
  <div class="bg-white rounded-lg shadow overflow-hidden">
    <table class="w-full">
      <thead class="bg-gray-100 border-b">
        <tr>
          <th class="px-6 py-3 text-left text-sm font-semibold">Key</th>
          <th class="px-6 py-3 text-left text-sm font-semibold">Value</th>
          <th class="px-6 py-3 text-left text-sm font-semibold">Display order</th>
          <th class="px-6 py-3 text-center text-sm font-semibold">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredItems" class="border-b hover:bg-gray-50">
          <td class="px-6 py-4 text-sm">{{ item.staticValueKey }}</td>
          <td class="px-6 py-4 text-sm">{{ item.staticData }}</td>
          <td class="px-6 py-4 text-sm">{{ item.displayOrder }}</td>
            <td class="px-6 py-4 text-center">
             <a href="/static-values/add?staticid={{item.staticId!}}&catalogId={{catalogId}}" class="text-blue-500 text-sm"> Edit </a>

            <button (click)="delete(item.staticId!)" class="text-red-500 text-sm ml-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
