<div class="auth-wrapper">
  <div class="auth-card">

    <!-- Header -->
    <div class="auth-header">
      <h2 class="text-center">Sign in</h2>
      <p>Welcome back — please sign in to continue</p>
    </div>

    <!-- Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div *ngIf="error" class="alert-error">{{ error }}</div>

      <!-- Email -->
      <div class="form-field">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="you@example.com" />
        <small *ngIf="f.email.touched && f.email.invalid" class="error-msg">
          <span *ngIf="f.email.errors?.['required']">Email is required.</span>
          <span *ngIf="f.email.errors?.['email']">Enter a valid email.</span>
        </small>
      </div>

      <!-- Password -->
      <div class="form-field">
        <label>Password</label>
        <div class="password-box">
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="password"
            placeholder="Enter your password" />

          <button type="button" class="toggle-btn" (click)="hidePassword = !hidePassword">
            <i [ngClass]="hidePassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
          </button>
        </div>

        <small *ngIf="f.password.touched && f.password.invalid" class="error-msg">
          Password is required.
        </small>
      </div>

      <!-- Remember + Forgot -->
      <div class="extras">
        <label class="remember">
          <input type="checkbox" formControlName="remember" />
          Remember me
        </label>
        <a routerLink="/forgot-password" class="forgot">Forgot password?</a>
      </div>

      <!-- Submit -->
      <button class="btn-primary" type="submit" [disabled]="loading">
        {{ loading ? "Signing in…" : "Sign in" }}
      </button>
    </form>

    <!-- Divider -->
    <div class="divider">
      <span>OR</span>
    </div>

    <!-- Social Login -->
    <div class="social-section">
      <div id="google-btn-container"></div>

      <!-- fallback (clickable area if SDK not rendered) -->
      <div class="social-btn facebook" (click)="signInWithFacebook()">
        <i class="fa-brands fa-facebook-f"></i>
        <span>Sign in with Facebook</span>
      </div>

      <div class="social-btn email" (click)="signInWithGoogle()">
        <i class="fa fa-envelope"></i>
        <span>Sign in with Google</span>
      </div>
    </div>


    <p class="bottom-text">
      Don’t have an account?
      <a routerLink="/signup">Create one</a>
    </p>

  </div>
</div>