<div class="relative">
  <button
    class="relative flex items-center justify-center text-gray-500 transition-colors bg-white border border-gray-200 rounded-full dropdown-toggle hover:text-gray-700 h-11 w-11 hover:bg-gray-100   dark:hover:text-white"
    (click)="toggleDropdown()"
  >
    <span
      class="absolute right-0 top-0.5 z-10 h-2 w-2 rounded-full bg-orange-400"
      [ngClass]="{ 'hidden': !notifying, 'flex': notifying }"
    >
      <span class="absolute inline-flex w-full h-full bg-orange-400 rounded-full opacity-75 animate-ping"></span>
    </span>
  </button>
  <app-dropdown
    [isOpen]="isOpen"
    (close)="closeDropdown()"
    className="absolute -right-[240px] mt-[17px] flex h-[480px] w-[350px] flex-col rounded-2xl border border-gray-200 bg-white p-3 shadow-theme-lg  dark:bg-gray-dark sm:w-[361px] lg:right-0"
  >
    <div class="flex items-center justify-between pb-3 mb-3 border-b border-gray-100 ">
      <h5 class="text-lg font-semibold text-gray-800 ">
        Notification
      </h5>
      <button
        (click)="toggleDropdown()"
        class="text-gray-500 transition  hover:text-gray-700 dark:hover:text-gray-200"
      >
      </button>
    </div>
  </app-dropdown>
</div>

<!-- block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 flex gap-3 rounded-lg border-b border-gray-100 p-3 px-4.5 py-3 hover:bg-gray-100  dark:hover:bg-white/5 -->